
body {
	background: #3a3a3a;
}

.box {
	margin: 3em auto;
	width: 700px;
	height: 500px;
	border-radius: 8px;
	background: url('img/bg.png');
	box-shadow: 1px 1px 3px 3px blue, inset 3px 3px 5px 2px yellow;
}