a[href^="http://"]{
	background: black;
	color:white;
}

a[href$=".pdf"]{
	background: url(images/pdf.png) no-repeat;
	padding-left: 20px;
}

a[href$=".doc"]{
	background: url(images/doc.png) no-repeat;
	padding-left: 20px;
}

img[src*="thumbnail"]{
	border: 5px solid skyblue;
}